<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Stack</h3>
  </div>
  <div class="panel-body">
    <div class="pull-left text-nowrap">
      <h4>Description:&nbsp{{template.description}}</h4>
    </div>
    <div class="button-group pull-right">
      <button type="button" class="btn btn-default" ng-click="back()">Add Resources</button>
      <button type="button" class="btn btn-danger" ng-click="reset()">Reset</button>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Get Template</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills pull-left" style="margin-right: 1em;">
      <li role="presentation" ng-class="{'active': format == 'JSON'}">
        <a href="" ng-click="getJSON()">JSON</a>
      </li>
      <li role="presentation" ng-class="{'active': format == 'YAML'}">
        <a href="" ng-click="getYAML()">YAML</a>
      </li>
    </ul>
    <div class="button-group">
      <button type="button" class="btn btn-default" ng-click="saveToFile()">
        Save As File</button>
      <button type="button" id="copy-to-clipboard" class="btn btn-default" clip-click="confirmCopy()" clip-copy="output">
        Copy to Clipboard</button>
    </div>
    <div class="input-group" style="margin-top: 1em;">
      <textarea id="output-data" cols="80" rows="25" name="output" ng-model="output">{{output}}</textarea>
    </div>
  </div>
</div>